@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

.produto {
    /* background-color: aqua; */
    height: 150px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.produto img {
    float: left;
    height: 100%;
    width: 40%;
}

.produto .titulo {
    float: left;
    text-align: center;
    font-size: 150%;
    font-weight: 400;
    width: 100%;

}

.produto .descricao {
    float: left;
    width: 60%;
    height: 80%;
    padding: 10px;
    font-weight: 300;
}

.produto .valor {
    float: left;
    text-align: center;
    width: 30%;
    height: 20%;
    font-size: 150%;
    font-weight: 500;
}

.produto .bt {
    float: left;
    width: 10%;
    height: 20%;
    text-align: center;
    cursor: pointer;
    font-size: 150%;
    font-weight: bold;
}

.produto .qt {
    float: left;
    width: 10%;
    height: 20%;
    text-align: center;
    font-size: 150%;
    font-weight: 600;
    
}

#subtitulo{
    font-weight: 500;
    text-shadow: 0.1em 0.1em 0.2em black;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

body{
    font-family: 'Roboto', sans-serif;
}

#paragrafo{
        font-size: 14pt;
        font-weight: 600;
}

#titulo{
    font-size: 18pt;
    font-weight: bold;

}
#logo-container{
    font-family: 'Cookie', cursive;
    font-size: 20pt;
}

